.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}

table {
  border-collapse: collapse;
  width: 600px;
  margin: auto;
}

th,
td {
  border: 1px solid gainsboro;
  height: 30px;
  text-align: left;
  padding: 5px 10px;
}

th:nth-child(odd) {
  width: 100px;
}

th:nth-child(2) {
  width: 200px;
}

.deleteCell,
.addCell {
  border: 0;
  background-color: white;
}

tr:nth-child(even) {
  background-color: snow;
}

tr:hover {
  background-color: honeydew;
  cursor: pointer;
}

tr:hover .fa-times {
  display: block;
}

.fa-times {
  color: darkgray;
  font-size: 18px;
  display: none;
}

.fa-plus {
  color: green;
  font-size: 20px;
}

input {
  border: 0;
  height: 30px;
  width: 100%;
  font-size: 14px;
  outline-color: lightgreen;
}
