.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}

input {
  height: 30px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 0;
  outline-color: lightgreen;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

table {
  border-collapse: collapse;
  width: 600px;
  margin: auto;
  font-family: 'Comfortaa', cursive;
}

th,
td {
  border: 1px solid gainsboro;
  height: 30px;
  text-align: left;
  padding: 5px;
}

th:nth-child(1),
th:nth-child(3) {
  width: 100px;
}

th:nth-child(2) {
  width: 250px;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

tbody:nth-child(2) tr:hover {
  background-color: honeydew;
  cursor: pointer;
}

.editDeleteCell,
.addCell {
  border: 0;
  background-color: white;
}

.editDeleteCell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

tr:hover .fa-times {
  display: block;
}

.fas {
  font-size: 20px;
}

.fa-times {
  color: hotpink;
  display: none;
}

.fa-pen {
  color: skyblue;
  font-size: 18px;
}

.fa-plus {
  color: forestgreen;
}
